@font-face {
    font-family: 'Youth';
    font-style: normal;
    font-weight: 500;
    src: url('https:///cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
    url('https:///cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    color: #303030;
    font-family: 'Noto Sans KR', sans-serif;
    /* letter-spacing: -3px; */
}
/* 헤더 영역 */
.header-con {
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 1320px;
    margin: 0 auto;
    padding: 18px 0 12px 0;
    border-bottom: #e1e1e1 1px solid;
}
.header::after { content: ""; display: block; clear: both; }
.logo, .header_toggle {
    float: left;
}
.login-wrap { float: right; }
.logo {
    display: block;
    text-decoration: none;
    width: 115px;
    padding-top: 4px;
}
.logo__img {
    width: 100%;
}

/* 헤더 토글버튼 */
.toggle {
    position: relative;
    left: 50%;
    transform: translateX(-100%);

    display: inline-block;
    width:252px;
    height:50px;
    border-radius:25px;
}

.toggle__input {
    appearance: none;

    width:252px;
    height:50px;
    border-radius:25px;

    background-color:#000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
    outline:none;
    text-align: center;

    margin: 0;
}

.toggle__input::before, .toggle__input::after {
    z-index:2;

    position: absolute;
    top:50%;
    transform:translateY(-50%);

    color:#fff;
}
.toggle__input::before {
    content: '구매자';
    left:6px;
    width: 120px;
    text-align: center;

    font-family: 'Youth';
    font-size: 18px;
    line-height: 38px;
}
.toggle__input:after {
    content: '판매자';
    right:6px;
    width: 120px;
    text-align: center;
    
    font-family: 'Youth';
    font-size: 18px;
    line-height: 38px;
}
.toggle__label {
    z-index:1;
    position: absolute;
    top:6px;
    bottom:6px;
    
    border-radius:20px;
}
 
.toggle__input {
    /* transition:.2s -.1s; */
}
.toggle__input:checked {
    background-color:#fff;
}
.toggle__input:checked:before {
    color:#fff;
    transition: color .1s .05s;
}
.toggle__input:checked:after {
    color:#A4A4A4;
    /* transition: color .2s; */
}
.toggle__input:checked+label {
    left:6px;
    right:126px;

    background:#FF773D;
    
    /* transition: left .2s, right .2s .1s; */
}

.toggle__input:not(:checked) {
    background:#fff;
    color: #A4A4A4;
}

.toggle__input:not(:checked):before {
    color:#A4A4A4;
    /* transition: color .2s; */
}
.toggle__input:not(:checked):after {
    color:#fff;
    transition: color .1s .05s;
}
.toggle__input:not(:checked)+label {
    left:126px;
    right:6px;
    background:#FF773D;
    
    /* transition: left .2s .1s, right .2s; */
}

.login-wrap__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    height: 50px;
    border-radius: 25px;
    border: 1px solid #E1E1E1;
    font-size: 16px;
    padding: 0 6px 0 12px;
}

.login-wrap__btn__Text {
    display: block;
    background: url(../images/icon_login.png) right no-repeat;
    background-size: 32px;
    padding-right: 40px;
    background-position: right;
    line-height: 50px;
}

.nav-wrap {
    margin: 0 auto;
    width: 482px;
}
.nav-wrap::after { content: ""; display: block; clear: both; }
.nav-wrap__list {
    float: left;
    margin: 20px 0;
}
.nav-wrap__list > a {
    display: block;
    text-decoration: none;
    color: #303030;
    padding: 0 40px;
    line-height: 40px;
}
.nav-wrap__list.on > a {
    font-weight: 700;
}

/* 검색바 영역 */
.search-con {
    margin: 0 auto;
    width: 988px;
    padding-bottom: 24px;
}
.search-con::after { content: ""; display: block; clear: both; }
.search, .lodging-location { float: left; }
.search {
    width: 864px;
    height: 66px;
}
.search__input {
    width: 832px;
    height: 66px;
    border: none;
    border-radius: 33px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding: 0 0 0 32px;
}
.search__input::placeholder { color: #a4a4a4; }
.search__btn {
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;

    background: url("../images/icon_search.png") no-repeat center;
    background-size: 54px;
    width: 54px;
    height: 54px;

    opacity: 0.5;
    transition-duration: 100ms;

    position: absolute;
    right: 20px;
    top: 6px;
}
.search__btn:hover { opacity: 1; }
.search__btn > span { display: none; }

.lodging-location {
    margin: 17px 0 0 24px;
    width: 100px;

    position: relative;
}
.lodging-location > a {
    display: block;
    text-decoration: none;
    font-family: 'Youth';
    font-size: 16px;
    color: #A4A4A4;
    line-height: 32px;

    background: url("../images/icon_location.png") no-repeat;
    background-size: 32px;
    padding-left: 32px;
}

/* 위치 선택 팝업 */
.area-wrap {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.32);
    border-radius: 16px;
    width: 470px;

    z-index: 999;

    display: none;
}
.area-wrap::after { content: ""; display: block; clear: both; }
.area__line01 {
    width: 170px;
    border-right: 1px solid #D4D4D4;
    box-sizing: border-box;

    float: left;
}
.area__city {
    padding: 24px 0;
}
.area__city > li {
    line-height: 34px;
    padding-left: 24px;
}
.area__city > li > a {
    display: block;
    text-decoration: none;
    color: #909090;
}
.area__city__name.on > a {
    color: #FF773D;
    font-weight: 700;
    padding-right: 34px;
    background: url("../images/btn_arrowRight_18px.png") right no-repeat;
    background-size: 34px;
}

.area__line02 {
    float: left;
}
.area__line02 > div {
    padding: 24px 0;
}
.area__city-child {
    display: none;
    line-height: 34px;
}
.area__city-child > li {
    padding-left: 24px;
}
.area__city-child > li > a {
    display: block;
    text-decoration: none;
    color: #909090;
}
.area__city-child.on {
    display: block;
}
.area__city-child__name.on > a {
    color: #FF773D;
    font-weight: 700;
}

/* 컨텐츠 영역 */
.contents {
    width: 1320px;
    margin: 0 auto;
    padding-top: 64px;
}
.seller-wrap {
    width: 300px;
    padding: 36px 20px 32px 20px;
    box-sizing: border-box;
    box-shadow: 0px 6px 20px rgba(65, 21, 2, 0.16);
    border-radius: 40px;
}
.seller__profile {
    padding-bottom: 32px;
}
.seller__profile__Img {
    display: block;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}
.seller__profile__Img > span {
    display: block;
    background: url("../images/img_profile_100px.png");
    background-size: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.seller__profile__name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 8px 0 6px 0;
}
.seller__profile__lodging {
    text-align: center;
    font-size: 18px;
}
.seller__Info > li {
    padding-bottom: 12px;
}
.seller__Info > li::after { content: ""; display: block; clear: both; }
.seller__Info > li > strong, .seller__Info > li > span {
    float: left;
}
.seller__Info > li > strong {
    display: block;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    padding-right: 20px;
}
.seller__Info > li > span {
    display: block;
    width: 140px;
    font-size: 15px;
}

.seller-buttons__wrap {
    padding-top: 32px;
}
.seller-buttons {
    display: block;
    margin: 0 auto;
    border-style: none;
    width: 232px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 6px 20px rgba(65, 21, 2, 0.16);
}
.seller-buttons > a {
    display: block;
    text-decoration: none;
}
.seller-buttons.openChat {
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #FF773D;
    background-color: #fff;
}
.seller-buttons.openChat > a {
    color: #FF773D;
    font-size: 16px;
}
.seller-buttons > a > span {
    margin: 0 auto;
    display: block;
    line-height: 50px;
    padding-left: 34px;
}
.seller-buttons.openChat > a > span{
    width: 165px;
    font-weight: 700;
    background: url("../images/icon_openChat.png") left no-repeat;
    background-size: 30px;
}
.seller-buttons.linkRequest {
    background-color: #FF773D;
}
.seller-buttons.linkRequest > a {
    color: #fff;
    font-size: 16px;
}
.seller-buttons.linkRequest > a > span{
    width: 102px;
    font-weight: 700;
    background: url("../images/icon_linkRequest.png") left no-repeat;
    background-size: 30px;
}