@font-face {
    font-family: 'Youth';
    font-style: normal;
    font-weight: 500;
    src: url('https:///cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
    url('https:///cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body {
    color: #303030;
    font-family: 'Noto Sans KR', sans-serif;
    oletter-spacing: -.3px;
}
/* 헤더 영역 */
.header-con {
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    border-bottom: #e1e1e1 1px solid;
    background-color: #fff;
}
.header_wrap {
    width: 90%;
    margin: 0 auto;
    padding: 18px 0 12px 0;
}
.header::after { content: ""; display: block; clear: both; }
.logo, .header_toggle {
    float: left;
}
.login-wrap { float: right; }
.logo {
    display: block;
    text-decoration: none;
    width: 115px;
    padding-top: 4px;
}
.logo__img {
    width: 100%;
}

/* 헤더 토글버튼 */
.m_toggle { display: none; }
.toggle {
    position: relative;
    left: 50%;
    transform: translateX(-100%);

    display: inline-block;
    width:252px;
    height:50px;
    border-radius:25px;
}

.toggle__input {
    appearance: none;

    width:252px;
    height:50px;
    border-radius:25px;

    background-color:#000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
    outline:none;
    text-align: center;

    margin: 0;
}

.toggle__input::before, .toggle__input::after {
    z-index:2;

    position: absolute;
    top:50%;
    transform:translateY(-50%);

    color:#fff;
}
.toggle__input::before {
    content: '구매자';
    left:6px;
    width: 120px;
    text-align: center;

    font-family: 'Youth';
    font-size: 18px;
    line-height: 38px;
}
.toggle__input:after {
    content: '판매자';
    right:6px;
    width: 120px;
    text-align: center;
    
    font-family: 'Youth';
    font-size: 18px;
    line-height: 38px;
}
.toggle__label {
    z-index:1;
    position: absolute;
    top:6px;
    bottom:6px;
    
    border-radius:20px;
}

.toggle__input:checked {
    background-color:#fff;
}
.toggle__input:checked:before {
    color:#fff;
    transition: color .1s .05s;
}
.toggle__input:checked:after {
    color:#A4A4A4;
}
.toggle__input:checked+label {
    left:6px;
    right:126px;

    background:#FF773D;
}

.toggle__input:not(:checked) {
    background:#fff;
    color: #A4A4A4;
}

.toggle__input:not(:checked):before {
    color:#A4A4A4;
}
.toggle__input:not(:checked):after {
    color:#fff;
    transition: color .1s .05s;
}
.toggle__input:not(:checked)+label {
    left:126px;
    right:6px;
    background:#FF773D;
}

.login-wrap__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    height: 50px;
    border-radius: 25px;
    border: 1px solid #E1E1E1;
    font-size: 16px;
    padding: 0 6px 0 12px;
}

.login-wrap__btn__Text {
    display: block;
    background: url(../images/icon_login.png) right no-repeat;
    background-size: 32px;
    padding-right: 40px;
    background-position: right;
    line-height: 50px;
}


/* 컨텐츠 영역 */
.contents {
    margin-top: 115px;
    margin-bottom: 200px;
}
.contents__slogan {
    font-family: 'Youth';
    font-size: 32px;
    text-align: center;
    line-height: 100px;
}
.contetns__main-icons {
    width: 80%;
    background-color: #fff;
    border-radius: 40px;

    /* backdrop-filter: blur(8px) brightness(0) grayscale(77%); */
    box-shadow: 0px 6px 20px 8px rgba(65,21,2,0.16)
    , inset 1px 2px 10px 8px rgb(255, 255, 255);

    padding: 65px 34px 48px 34px;
    margin: 0 auto;
    box-sizing: border-box;
}
.contetns__main-icons {
    text-align: center;
}
.contetns__main-icons > li {
    width: 20%;
    padding: 0 20px;
    display: inline-block;
}
.contetns__main-icons > li > a {
    display: block;
    line-height: 48px;
    width: 100%;
    text-align: center;
    font-family: 'Youth';
    font-size: 24px;
    font-weight: 500;
    color: #303030;
    text-decoration: none;
}
.contetns__main-icons > li > a > span{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 48px;
}

.contetns__main-icons > li:nth-child(1) > a > span {
    background: url("../images/icon_motel.png") center no-repeat;
    background-size: 172px;
}
.contetns__main-icons > li:nth-child(2) > a > span {
    background: url("../images/icon_hotel.png") center no-repeat;
    background-size: 172px;
}
.contetns__main-icons > li:nth-child(3) > a > span {
    background: url("../images/icon_cottage.png") center no-repeat;
    background-size: 172px;
}
.contetns__main-icons > li:nth-child(4) > a > span {
    background: url("../images/icon_sharehouse.png") center no-repeat;
    background-size: 172px;
}

.contetns__main-icons > li:hover > a > span {
    background-color: #FFF6EA;
    background-size: 180px;
    transition-duration: 0.2s;
}

/* 푸터 영역 */
.footer {
    height: 200px;
    background-color: #F1F1F1;
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
    .toggle { display: none; }

    .header-con { position: relative; }
    /* 헤더 토글버튼 */
    .m_toggle {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;

        display: inline-block;
        width:252px;
        height:50px;
        border-radius:25px;
    }

    .m_toggle__input {
        appearance: none;

        width:252px;
        height:50px;
        border-radius:25px;

        background-color:#000;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
        outline:none;
        text-align: center;

        margin: 0;
    }

    .m_toggle__input::before, .m_toggle__input::after {
        z-index:2;

        position: absolute;
        top:50%;
        transform:translateY(-50%);

        color:#fff;
    }
    .m_toggle__input::before {
        content: '구매자';
        left:6px;
        width: 120px;
        text-align: center;

        font-family: 'Youth';
        font-size: 18px;
        line-height: 38px;
    }
    .m_toggle__input:after {
        content: '판매자';
        right:6px;
        width: 120px;
        text-align: center;
        
        font-family: 'Youth';
        font-size: 18px;
        line-height: 38px;
    }
    .m_toggle__label {
        z-index:1;
        position: absolute;
        top:6px;
        bottom:6px;
        
        border-radius:20px;
    }

    .m_toggle__input:checked {
        background-color:#fff;
    }
    .m_toggle__input:checked:before {
        color:#fff;
        transition: color .1s .05s;
    }
    .m_toggle__input:checked:after {
        color:#A4A4A4;
    }
    .m_toggle__input:checked+label {
        left:6px;
        right:126px;

        background:#FF773D;
    }

    .m_toggle__input:not(:checked) {
        background:#fff;
        color: #A4A4A4;
    }

    .m_toggle__input:not(:checked):before {
        color:#A4A4A4;
    }
    .m_toggle__input:not(:checked):after {
        color:#fff;
        transition: color .1s .05s;
    }
    .m_toggle__input:not(:checked)+label {
        left:126px;
        right:6px;
        background:#FF773D;
    }

    .header_wrap { position: relative; }
    .logo {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
    .login-wrap {
        position: absolute;
        top: 12px;
        right: 0;
    }
    .header_wrap {
        height: 40px;
    }
    .contents {
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .contents__slogan {
        font-size: 1.5em;
        line-height: 40px;
    }
    .contetns__main-icons {
        background-color: transparent;
        box-shadow: none;
    }
    .contetns__main-icons > li {
        display: block;
        width: 80%;

        background-color: #fff;
        border-radius: 40px;

        box-shadow: 0px 6px 20px 8px rgba(65,21,2,0.16)
        , inset 1px 2px 10px 8px rgb(255, 255, 255);

        padding: 32px;
        margin: 0 auto 32px auto;
    }
    .contetns__main-icons > li:hover > a > span {
        background-color: transparent;
        background-size: 180px;
        transition-duration: 0.2s;
    }
}
